
<div class="filtros">
    <input [(ngModel)]="nombreUbicacion" name="nombreUbicacion" placeholder="Nombre de ubicación" />
    <input [(ngModel)]="tipoUbicacion" name="tipoUbicacion" placeholder="Tipo de ubicación" />
    <button (click)="filtrarUbicaciones()">Filtrar</button>
</div>

<div class="contenedor-ubicaciones">
    @for (ubicacion of ListadoUbicaciones; track ubicacion.id) {
        <div>
            <app-ubicacion [ubicacion]="ubicacion"></app-ubicacion>
        </div>
    } @empty {
        <p>No existen ubicaciones</p>
    }
</div>

