.tarjeta-ubicacion {
  height: 130px;
  width: 300px;
  flex-basis: 1;
  flex-grow: 1;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #1f2833;
  border: 2px solid #66fcf1;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(102, 252, 241, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  transition: height 1s;
  interpolate-size: allow-keywords;
  overflow: hidden;
}


.tarjeta-ubicacion:hover {
  height: auto;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.6);
}
